@import 'lib';

@pinterested: #ae1d54;

* {
    .border-box();
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

html, body {
    background: #000;
    font-size: 14px;
}

button {
    &.yes, &.rate {
        .button(#93c52f);
    }
    &.rate {
        width: 100%;
    }
    &.no {
        .button(#bf512e);
    }
    &.back {
        .button(#eee);
        color: #333;
        padding: 5px 15px 4px;
        &:active {
            color: #666;
        }
    }
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

body,
#app,
section {
    .border-radius(10px);
}

#app {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}


section {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('/static/img/grain.png');
    background-color: #fff;

    overflow: hidden;

    &.left {
        .transform(~'translate(-100%, 0) translateZ(0)');
    }
    &.right {
        .transform(~'translate(100%, 0) translateZ(0)');
    }

    .transform(~'translate(0, 0) translateZ(0)');

    &:before {
        pointer-events: none;
        opacity: 0; 
        content: '';
        display: block;
        position: absolute;
        background: rgba(0,0,0,.5);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .throbber {
        content: '';
        position: absolute;
        z-index: 11;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 36px;
        height: 36px;
        display: none;
        .border-radius(32px);
        border: 6px solid #fff;
        border-color: #fff transparent;
        .animation(~'spin 1s linear infinite');
    }

    &.loading {
        .throbber {
            display: block;
        }
    }

    &.loading:before {
        pointer-events: auto;
        opacity: 1;
        .transition(~'.3s opacity ease-out');
    }
}

@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0turn); }
    to { -webkit-transform: rotate(1turn); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0turn); }
    to { -moz-transform: rotate(1turn); }
}
@keyframes spin {
    from { transform: rotate(0turn); }
    to { transform: rotate(1turn); }
}

#app.ready section {
    .transition-duration(~'.3s, .3s, .3s');
    .transition-property(~'-moz-transform, transform, -webkit-transform');
}

#login {
    z-index: 9;
    background: #bc0c4e;
    background-image: url(/static/img/bg.png);
    &::before {
        .border-radius(10px 10px 0 0);
        background: url(/static/img/bg-top.png) repeat-x;
        content: " ";
        display: block;
        height: 234px;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 10;
        left: 0;
        opacity: 1 !important;
    }
    form {
        width: 244px;
        margin: 60px auto 0;
        z-index: 2;
        input {
            width: 100%;
            padding: 8px 15px;
            font-size: 14px;
            &:first-child {
                border-bottom: 0;
                z-index: 1;
            }
        }
        button {
            .button(#019988);
            width: 100%;
        }
    }
    .menu {
        background: transparent;
        text-align: center;
        color: #fff;
        padding-bottom: 15px;
    }

    .screen {
        z-index: 10;
        margin: 0 auto;
        position: relative;
        .transition-duration(~'.3s, .3s, .3s');
        .transition-property(~'-moz-transform, transform, -webkit-transform');
        .transform(~'translate(0, 96px) translateZ(0)');
    }

    #whoami {
        opacity: 0;
        .transition-duration(~'.7s, .7s, .7s, .7s');
        .transition-property(~'-moz-transform, transform, -webkit-transform, opacity');
        .transform(~'translate(0, 500%) translateZ(0)');

        width: 292px;
        .box-shadow(0 0 10px rgba(0,0,0,0.7));
        margin: 0 auto;
        background-image: url('/static/img/grain.png');
        background-color: hsl(0,0%,93%);
        .border-radius(5px);
        overflow: hidden;
        margin-top: 25px;
        padding: 10px;

        button {
            width: 100%;
            display: block;
        }

        p {
            color: #888;
            text-align: center;
            margin: 30px 0 5px;
            font-size: 18px;
        }

        .gen {
            font-weight: bold;
            color: #ea7fdc;
            width: 38px;
            display: inline-block;
            &.dude {
                color: #2cb0e7;
            }
        }

        h2 {
            .border-radius(5px 5px 0 0);
            .box-shadow(0 1px rgba(255,255,255,0.3));
            margin: -10px;
            font-size: 16px;
            text-align: center;
            padding: 1em;
            font-weight: normal;
            background: url('/static/img/grain.png') #ddd;
            border-bottom: 1px solid #ccc;
            text-shadow: 1px 1px rgba(255,255,255,0.6);
            color: #666;

            span {
                font-weight: bold;
                color: #333;
            }
        }
    }


    &.logged-in {
        text-shadow: 1px 1px rgba(0,0,0,0.5);
        .screen {
            .transform(~'translate(0, 10px) translateZ(0)');
        }
        form {
            display: none;
        }
        .logo {
            .transform(~'scale(.9) translate(0, 5px) translateZ(0)');
        }
        .logout {
            color: rgba(255,255,255,0.7);
            text-decoration: none;
        }
        #whoami {
            opacity: 1;
            .transform(~'translate(0, 0) translateZ(0)');
        }
    }
}

.gender {
    overflow: hidden;
    margin-bottom: 15px;
    text-shadow: 1px 1px #fff;
    .looking {
        width: 84px;

        display: inline-block;
        font-size: 12px;
        position: relative;
        top: -2px;
        color: #777;
        text-align: center;
    }
}
.smiley {
    cursor: pointer;

    width: 118px;
    height: 120px;
    margin: 15px 0 0 0;
    z-index: 1;
    display: inline-block;
    position: relative;
    &.right {
        float: right;
        margin-right: 10px;
    }
    &.left {
        float: left;
        margin-left: 10px;
    }
    &.on {
        .face, .bow-in {
            .transform(~'translateZ(0)');
            background-color: #2cb0e7 !important;
        }
        .bow-in {
            .transform(~'translateZ(0)');
            background-position: 0 0px !important;
        }
        .bow-out {
            .transform(~'rotate(180deg) translateY(-2px) translateX(-1px) translateZ(0)');
        }
    }
    &.left {
        &.on .bow-out {
            .transform(~'rotate(-180deg) translateY(-2px) translateX(-1px) translateZ(0)');
        }
    }
    .face {
        background-image: url(/static/img/smiley.png);
        background-size: cover;
        background-color: #ea7fdc;
        -webkit-transition: background-color 0.6s ease-out;
        transition: background-color 0.6s ease-out;
        width: 98px;
        height: 98px;
        top: 10px;
        left: 10px;
        position: absolute;
    }
    .bow-out {
        width: 118px;
        height: 118px;
        position: absolute;
        top: -1px;
        left: -1px;
        transition: transform 0.6s ease-out;
        -webkit-transition: -webkit-transform 0.6s ease-out;
        .bow-in {
            background-image: url(/static/img/smiley-bottom.png);
            background-size: cover;
            width: 59px;
            height: 28px;
            background-color: #ea7fdc;
            background-position: 0 -29px;
            transition: background-color 0.6s ease-out;
            -webkit-transition: background-color 0.6s ease-out;
            left: 30px;
            top: 3px;
            position: absolute;
        }
    }
}

#logged a {
    color: #fff;
    margin-left: 1em;
}

.logo {
    background: url(/static/img/logo.png) 50% 50% no-repeat;
    background-size: cover;
    height: 57px;
    display: block;
    text-indent: -9999px;
    width: 263px;
    margin: 0 auto;
    position: relative;
    .transition-duration(~'.3s, .3s, .3s');
    .transition-property(~'-moz-transform, transform, -webkit-transform');
    .transform(~'translateZ(0)');
}

.tagline {
    color: #fff;
    font-size: 13px;
    text-shadow: 1px 1px rgba(0,0,0,0.6);
    font-weight: 300;
    margin-left: 0;
    width: 100%;
    position: absolute;
    left: 0;
    text-align: center;
    top: 50px;
}

.pinimg {
    background: #fff;
    padding: 15px;
    .box-shadow(0px 1px 3px rgba(34, 25, 25, 0.4));
    float: left;
    margin-bottom: 15px;
    display: block;
    opacity: 0;
    width: 192px;
    .transition(~'.5s opacity ease-out, .5s top ease-out');

    &.show {
        opacity: 1;
    }

}

.col {
    margin: 15px 20px 0 0;
    width: 222px;
    float: left;
}

.col:last-child {
    margin-right: 0;
}

.menu {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    background: fade(#fff, 90%);
    #pins & {
        border-top: 2px solid #fff;
        .box-shadow(0 -1px 4px rgba(0, 0, 0, 0.1));
    }
    h2 {
        height: 40px;
        margin: 0;
        padding: 0;
        line-height: 40px;
        text-align: center;
    }
    button {
        width: ~'-moz-calc(50% - 5px)';
        width: ~'-webkit-calc(50% - 5px)';
        width: ~'calc(50% - 5px)';
        display: inline-block;
        &.yes {
            float: right;
        }
    }
    .transition-duration(~'.3s, .3s, .3s');
    .transition-property(~'-moz-transform, transform, -webkit-transform');
    .transform(~'translate(0, 100%) translateZ(0)');

    &.show {
        .transform(~'translate(0, 0) translateZ(0)');
    }
}

#pins {
    .scroller {
        top: 0;
        height: 100%;
        left: 0;
        width: 100%;
        -webkit-overflow-scrolling: touch;
        overflow: auto;
        h2 {
            text-align: center;
            font-weight: normal;
            color: #aaa;
            text-shadow: 0 1px #fff;
            margin-bottom: 80px;
        }

    }

    .container {
        margin: 0 auto;
        &:after {
            content: '';
            display: block;
            clear: both;
        }
    }
}

.remaining {
    margin: 20px 40px 8px;
    font-size: 16px;
    .remaining-num {
        color: #bc0c4e;
        font-weight: bold;
    }
    color: #aaa;
    text-shadow: 0 1px #fff;
    text-align: center;
    display: none;
    &.show {
        display: block;
    }
}

form {
    input[type=text],
    input[type=password] {
        .border-radius(3px);
        //.box-shadow(1px 1px 0 #ccc inset, 2px 2px 3px #eee inset);
        .transition(~'.25s border, .5s box-shadow');
        background: #fff;
        border: 1px solid #666;
        color: #666;
        display: block;
        font: inherit;
        font-size: 18px;
        line-height: 20px;
        margin: 0;
        padding: 10px 10px;
        &:focus {
            .box-shadow(0 1px 1px rgba(0,0,0,.06) inset,
                        0 0 8px rgba(80,160,220,.6));
            background: #fff;
            //border-color: rgba(80,170,230,.8);
            color: #333;
            outline: 0;
            //outline: thin dotted \9;
        }
    }
}

#login {
    form button {
        display: none;
        margin-top: 15px;
    }
    input[type=text] {
        .border-radius(5px 5px 0 0);
        border-bottom: 0 none !important;

    }
    input[type=password] {
        .border-radius(0 0 5px 5px);
        border-top: 0;
        .box-shadow(0 1px #eee inset);
        -webkit-appearance: none;
    }
}

.get-one {
    color: #d8a9ba;
    display: block;
    padding-top: 15px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0px -1px 0 rgba(0,0,0,0.3);
    b {
        //border-bottom: 1px solid #fff;
        color: #fff;
    }
    &:hover {
        color: lighten(#d8a9ba, 10%);
    }
}

@-webkit-keyframes bgscroll {
    from {background-position:0 0;}
    to {background-position:484px 0;}
}

@-moz-keyframes bgscroll {
    from {background-position:0 0;}
    to {background-position:484px 0;}
}

@-ms-keyframes bgscroll {
    from {background-position:0 0;}
    to {background-position:484px 0;}
}

@-o-keyframes bgscroll {
    from {background-position:0 0;}
    to {background-position:484px 0;}
}

@keyframes bgscroll {
    from {background-position:0 0;}
    to {background-position:484px 0;}
}

#factory {
    background: #ececec url(/static/img/factory-grain.png);
    .luv {
        background: url(/static/img/factory.png) 50% 50% no-repeat;
        background-size: cover;
        margin: 30px auto -250px -10px;
        height: 250px;
        width: 320px;
        position: relative;
        .f1 {
            background-image: url(/static/img/f1.png);
            background-size: cover;
            height: 24px;
            position: absolute;
            top: 54px;
            width: 112px;
            .animation(40s linear 0s normal none infinite bgscroll);

        }
        .f2 {
            background-image: url(/static/img/f2.png);
            background-size: cover;
            height: 24px;
            position: absolute;
            right: 0;
            top: 56px;
            width: 109px;
            .animation(40s linear 0s normal none infinite bgscroll);
        }
    }
    h2, p {
        text-shadow: 0 1px 1px #fff;
        margin-top: 6px;
        margin-bottom: 6px;
    }
    h2 {
        color: #333;
        font-size: 17px;
    }
    p {
        color: #999;
        font-size: 13px;
        margin-bottom: 12px;
        padding: 0 15px;
    }
    .potential {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding-bottom: 10px;
    }
}

#factory, #matches {
    color: #aaa;
    text-shadow: 0 2px 1px #fff;
    .screen {
        height: 100%;
        margin: 0 auto;
        text-align: center;
        position: relative;
        max-width: 300px;
        padding-top: 70px;
    }
}

#matches {
    .screen {
        padding-top: 43px;
        max-width: 100%;
    }
    .matches {
        .box-shadow(~'0 0 5px #999');
    }
    .potential {
        padding: 10px;
    }
    .match {
        font-size: 16px;
        color: #666;
        .user {
            margin-right: 15px;
        }
        .icon {
            .border-radius(4px);
        }
    }
}

.top {
    .border-radius(10px 10px 0 0);
    .box-shadow(0 0 4px #555, 0 1px 1px rgba(255, 255, 255, .2) inset, 0 -1px 0px rgba(255, 255, 255, .2) inset);
    background: @pinterested url(/static/img/grain.png);
    border-bottom: 1px solid @pinterested;
    color: #fff;
    position: absolute;
    text-align: center;
    z-index: 2;
    width: 100%;
    margin-top: 0;
    height: 44px;
    padding: 12px;
    font-size: 18px;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
}

.back {
    position: absolute;
    top: 13px;
    left: 15px;
    z-index: 3;
}

.match {
    background: #fff;
    border-bottom: 1px solid #ccc;
    display: block;
    font-weight: 400;
    text-align: left;
    padding: 15px;
    .icon, .user {
        display: inline-block;
        vertical-align: middle;
    }
    .icon {
        background-size: cover;
        height: 64px;
        margin-right: 15px;
        width: 64px;
    }
    .user {
        line-height: 64px;
    }
    &:first-child {
        background-color: lighten(yellow, 40%);
        .box-shadow(~'0 5px #333');
    }
}

#chat-text {
    font-size: 18px;
    padding: 65px 15px 15px;
    em {
        color: #999;
        font-style: normal;
    }
    div + div {
        margin-top: 2px;
    }
}

#chat-form {
    .border-radius(0 0 10px 10px);
    position: absolute;
    bottom: 0;
    width: 100%;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0,0,0,0.6)), to(rgba(0,0,0,0.8)));
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.8));
    background-image: -moz-linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.8));
    background-image: -webkit-linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.8));
    padding: 15px;
    input {
        .box-shadow(1px 1px 0 #333 inset, 2px 2px 3px #000 inset);
        .border-radius(5px);
        background: #000;
        color: #fff;
        width: 100%;
        &:-moz-placeholder {
            color: #666;
        }
        &::-webkit-input-placeholder {
            color: #666;
        }
    }
    button {
        .border-radius(0 4px 4px 0);
        .box-shadow(1px 1px 0 #333, 1px 1px 2px #000);
        background: #555;
        border: 0;
        color: #333;
        font-size: 32px;
        text-shadow: 0 1px 1px #666;
        padding: 2px 10px 1px;
        float: right;
        top: 17px;
        right: 16px;
        position: absolute;
        &:active, &:focus {
            background: #333;
            color: #000;
        }
    }
}

input[placeholder] {
    &:-moz-placeholder:focus {
        color: transparent !important;
    }
    // Yes, the order matters. WebKit is clownshoes.
    &:focus::-webkit-input-placeholder {
        color: transparent !important;
    }
}

@media @retina {
    #login {
        background-size: 83px 83px;
        &:before {
            background-size: 20px 234px;
        }
    }
    .pinimg {
        width: 112px;
        padding: 8px;
        margin-bottom: 10px;
    }
    .col {
        width: 112px;
        margin: 10px 20px 0 0;
    }
    section, .top {
        background-size: 100px 100px;
    }
    #factory {
        background-size: 26px 26px;
    }
}
