* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html,
body {
  background: #000;
  font-size: 14px;
}
button.yes,
button.rate {
  padding: 11px 15px 15px;
  border: 1px solid #749c25;
  border-radius: 5px;
  color: #fff;
  white-space: nowrap;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  font-size: 17px;
  -webkit-box-shadow: 0 -3px #749c25 inset, 0 1px rgba(255, 255, 255, 0.3) inset;
  -moz-box-shadow: 0 -3px #749c25 inset, 0 1px rgba(255, 255, 255, 0.3) inset;
  box-shadow: 0 -3px #749c25 inset, 0 1px rgba(255, 255, 255, 0.3) inset;
  background-color: #93c52f;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.05)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  background-image: -ms-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
}
button.yes.pressed,
button.rate.pressed {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  box-shadow: 0 0;
  text-shadow: -1px -1px rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.9);
}
button.rate {
  width: 100%;
}
button.no {
  padding: 11px 15px 15px;
  border: 1px solid #964024;
  border-radius: 5px;
  color: #fff;
  white-space: nowrap;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  font-size: 17px;
  -webkit-box-shadow: 0 -3px #964024 inset, 0 1px rgba(255, 255, 255, 0.3) inset;
  -moz-box-shadow: 0 -3px #964024 inset, 0 1px rgba(255, 255, 255, 0.3) inset;
  box-shadow: 0 -3px #964024 inset, 0 1px rgba(255, 255, 255, 0.3) inset;
  background-color: #bf512e;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.05)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  background-image: -ms-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
}
button.no.pressed {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  box-shadow: 0 0;
  text-shadow: -1px -1px rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.9);
}
button.back {
  padding: 11px 15px 15px;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
  color: #fff;
  white-space: nowrap;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  font-size: 17px;
  -webkit-box-shadow: 0 -3px #d5d5d5 inset, 0 1px rgba(255, 255, 255, 0.3) inset;
  -moz-box-shadow: 0 -3px #d5d5d5 inset, 0 1px rgba(255, 255, 255, 0.3) inset;
  box-shadow: 0 -3px #d5d5d5 inset, 0 1px rgba(255, 255, 255, 0.3) inset;
  background-color: #eeeeee;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.05)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  background-image: -ms-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  color: #333;
  padding: 5px 15px 4px;
}
button.back.pressed {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  box-shadow: 0 0;
  text-shadow: -1px -1px rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.9);
}
button.back:active {
  color: #666;
}
body {
  font-family: Helvetica, Arial, sans-serif;
}
body,
#app,
section {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
#app {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
section {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url('/static/img/grain.png');
  background-color: #fff;
  overflow: hidden;
  -webkit-transform: translate(0, 0) translateZ(0);
  -moz-transform: translate(0, 0) translateZ(0);
  -ms-transform: translate(0, 0) translateZ(0);
  -o-transform: translate(0, 0) translateZ(0);
  transform: translate(0, 0) translateZ(0);
}
section.left {
  -webkit-transform: translate(-100%, 0) translateZ(0);
  -moz-transform: translate(-100%, 0) translateZ(0);
  -ms-transform: translate(-100%, 0) translateZ(0);
  -o-transform: translate(-100%, 0) translateZ(0);
  transform: translate(-100%, 0) translateZ(0);
}
section.right {
  -webkit-transform: translate(100%, 0) translateZ(0);
  -moz-transform: translate(100%, 0) translateZ(0);
  -ms-transform: translate(100%, 0) translateZ(0);
  -o-transform: translate(100%, 0) translateZ(0);
  transform: translate(100%, 0) translateZ(0);
}
section:before {
  pointer-events: none;
  opacity: 0;
  content: '';
  display: block;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
section .throbber {
  content: '';
  position: absolute;
  z-index: 11;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 36px;
  height: 36px;
  display: none;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
  border-radius: 32px;
  border: 6px solid #fff;
  border-color: #fff transparent;
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  -ms-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
section.loading .throbber {
  display: block;
}
section.loading:before {
  pointer-events: auto;
  opacity: 1;
  -moz-transition: .3s opacity ease-out;
  -webkit-transition: .3s opacity ease-out;
  transition: .3s opacity ease-out;
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0turn);
  }
  to {
    -webkit-transform: rotate(1turn);
  }
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0turn);
  }
  to {
    -moz-transform: rotate(1turn);
  }
}
@keyframes spin {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
#app.ready section {
  -moz-transition-duration: .3s, .3s, .3s;
  -webkit-transition-duration: .3s, .3s, .3s;
  transition-duration: .3s, .3s, .3s;
  -moz-transition-property: -moz-transform, transform, -webkit-transform;
  -webkit-transition-property: -moz-transform, transform, -webkit-transform;
  transition-property: -moz-transform, transform, -webkit-transform;
}
#login {
  z-index: 9;
  background: #bc0c4e;
  background-image: url(/static/img/bg.png);
}
#login::before {
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
  background: url(/static/img/bg-top.png) repeat-x;
  content: " ";
  display: block;
  height: 234px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
  left: 0;
  opacity: 1 !important;
}
#login form {
  width: 244px;
  margin: 60px auto 0;
  z-index: 2;
}
#login form input {
  width: 100%;
  padding: 8px 15px;
  font-size: 14px;
}
#login form input:first-child {
  border-bottom: 0;
  z-index: 1;
}
#login form button {
  padding: 11px 15px 15px;
  border: 1px solid #01665b;
  border-radius: 5px;
  color: #fff;
  white-space: nowrap;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  font-size: 17px;
  -webkit-box-shadow: 0 -3px #01665b inset, 0 1px rgba(255, 255, 255, 0.3) inset;
  -moz-box-shadow: 0 -3px #01665b inset, 0 1px rgba(255, 255, 255, 0.3) inset;
  box-shadow: 0 -3px #01665b inset, 0 1px rgba(255, 255, 255, 0.3) inset;
  background-color: #019988;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.05)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  background-image: -ms-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  width: 100%;
}
#login form button.pressed {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  box-shadow: 0 0;
  text-shadow: -1px -1px rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.9);
}
#login .menu {
  background: transparent;
  text-align: center;
  color: #fff;
  padding-bottom: 15px;
}
#login .screen {
  z-index: 10;
  margin: 0 auto;
  position: relative;
  -moz-transition-duration: .3s, .3s, .3s;
  -webkit-transition-duration: .3s, .3s, .3s;
  transition-duration: .3s, .3s, .3s;
  -moz-transition-property: -moz-transform, transform, -webkit-transform;
  -webkit-transition-property: -moz-transform, transform, -webkit-transform;
  transition-property: -moz-transform, transform, -webkit-transform;
  -webkit-transform: translate(0, 96px) translateZ(0);
  -moz-transform: translate(0, 96px) translateZ(0);
  -ms-transform: translate(0, 96px) translateZ(0);
  -o-transform: translate(0, 96px) translateZ(0);
  transform: translate(0, 96px) translateZ(0);
}
#login #whoami {
  opacity: 0;
  -moz-transition-duration: .7s, .7s, .7s, .7s;
  -webkit-transition-duration: .7s, .7s, .7s, .7s;
  transition-duration: .7s, .7s, .7s, .7s;
  -moz-transition-property: -moz-transform, transform, -webkit-transform, opacity;
  -webkit-transition-property: -moz-transform, transform, -webkit-transform, opacity;
  transition-property: -moz-transform, transform, -webkit-transform, opacity;
  -webkit-transform: translate(0, 500%) translateZ(0);
  -moz-transform: translate(0, 500%) translateZ(0);
  -ms-transform: translate(0, 500%) translateZ(0);
  -o-transform: translate(0, 500%) translateZ(0);
  transform: translate(0, 500%) translateZ(0);
  width: 292px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  margin: 0 auto;
  background-image: url('/static/img/grain.png');
  background-color: #ededed;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 25px;
  padding: 10px;
}
#login #whoami button {
  width: 100%;
  display: block;
}
#login #whoami p {
  color: #888;
  text-align: center;
  margin: 30px 0 5px;
  font-size: 18px;
}
#login #whoami .gen {
  font-weight: bold;
  color: #ea7fdc;
  width: 38px;
  display: inline-block;
}
#login #whoami .gen.dude {
  color: #2cb0e7;
}
#login #whoami h2 {
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  -webkit-box-shadow: 0 1px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: 0 1px rgba(255, 255, 255, 0.3);
  box-shadow: 0 1px rgba(255, 255, 255, 0.3);
  margin: -10px;
  font-size: 16px;
  text-align: center;
  padding: 1em;
  font-weight: normal;
  background: url('/static/img/grain.png') #dddddd;
  border-bottom: 1px solid #ccc;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.6);
  color: #666;
}
#login #whoami h2 span {
  font-weight: bold;
  color: #333;
}
#login.logged-in {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
#login.logged-in .screen {
  -webkit-transform: translate(0, 10px) translateZ(0);
  -moz-transform: translate(0, 10px) translateZ(0);
  -ms-transform: translate(0, 10px) translateZ(0);
  -o-transform: translate(0, 10px) translateZ(0);
  transform: translate(0, 10px) translateZ(0);
}
#login.logged-in form {
  display: none;
}
#login.logged-in .logo {
  -webkit-transform: scale(.9) translate(0, 5px) translateZ(0);
  -moz-transform: scale(.9) translate(0, 5px) translateZ(0);
  -ms-transform: scale(.9) translate(0, 5px) translateZ(0);
  -o-transform: scale(.9) translate(0, 5px) translateZ(0);
  transform: scale(.9) translate(0, 5px) translateZ(0);
}
#login.logged-in .logout {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}
#login.logged-in #whoami {
  opacity: 1;
  -webkit-transform: translate(0, 0) translateZ(0);
  -moz-transform: translate(0, 0) translateZ(0);
  -ms-transform: translate(0, 0) translateZ(0);
  -o-transform: translate(0, 0) translateZ(0);
  transform: translate(0, 0) translateZ(0);
}
.gender {
  overflow: hidden;
  margin-bottom: 15px;
  text-shadow: 1px 1px #fff;
}
.gender .looking {
  width: 84px;
  display: inline-block;
  font-size: 12px;
  position: relative;
  top: -2px;
  color: #777;
  text-align: center;
}
.smiley {
  cursor: pointer;
  width: 118px;
  height: 120px;
  margin: 15px 0 0 0;
  z-index: 1;
  display: inline-block;
  position: relative;
}
.smiley.right {
  float: right;
  margin-right: 10px;
}
.smiley.left {
  float: left;
  margin-left: 10px;
}
.smiley.on .face,
.smiley.on .bow-in {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  background-color: #2cb0e7 !important;
}
.smiley.on .bow-in {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  background-position: 0 0px !important;
}
.smiley.on .bow-out {
  -webkit-transform: rotate(180deg) translateY(-2px) translateX(-1px) translateZ(0);
  -moz-transform: rotate(180deg) translateY(-2px) translateX(-1px) translateZ(0);
  -ms-transform: rotate(180deg) translateY(-2px) translateX(-1px) translateZ(0);
  -o-transform: rotate(180deg) translateY(-2px) translateX(-1px) translateZ(0);
  transform: rotate(180deg) translateY(-2px) translateX(-1px) translateZ(0);
}
.smiley.left.on .bow-out {
  -webkit-transform: rotate(-180deg) translateY(-2px) translateX(-1px) translateZ(0);
  -moz-transform: rotate(-180deg) translateY(-2px) translateX(-1px) translateZ(0);
  -ms-transform: rotate(-180deg) translateY(-2px) translateX(-1px) translateZ(0);
  -o-transform: rotate(-180deg) translateY(-2px) translateX(-1px) translateZ(0);
  transform: rotate(-180deg) translateY(-2px) translateX(-1px) translateZ(0);
}
.smiley .face {
  background-image: url(/static/img/smiley.png);
  background-size: cover;
  background-color: #ea7fdc;
  -webkit-transition: background-color 0.6s ease-out;
  transition: background-color 0.6s ease-out;
  width: 98px;
  height: 98px;
  top: 10px;
  left: 10px;
  position: absolute;
}
.smiley .bow-out {
  width: 118px;
  height: 118px;
  position: absolute;
  top: -1px;
  left: -1px;
  transition: transform 0.6s ease-out;
  -webkit-transition: -webkit-transform 0.6s ease-out;
}
.smiley .bow-out .bow-in {
  background-image: url(/static/img/smiley-bottom.png);
  background-size: cover;
  width: 59px;
  height: 28px;
  background-color: #ea7fdc;
  background-position: 0 -29px;
  transition: background-color 0.6s ease-out;
  -webkit-transition: background-color 0.6s ease-out;
  left: 30px;
  top: 3px;
  position: absolute;
}
#logged a {
  color: #fff;
  margin-left: 1em;
}
.logo {
  background: url(/static/img/logo.png) 50% 50% no-repeat;
  background-size: cover;
  height: 57px;
  display: block;
  text-indent: -9999px;
  width: 263px;
  margin: 0 auto;
  position: relative;
  -moz-transition-duration: .3s, .3s, .3s;
  -webkit-transition-duration: .3s, .3s, .3s;
  transition-duration: .3s, .3s, .3s;
  -moz-transition-property: -moz-transform, transform, -webkit-transform;
  -webkit-transition-property: -moz-transform, transform, -webkit-transform;
  transition-property: -moz-transform, transform, -webkit-transform;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.tagline {
  color: #fff;
  font-size: 13px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.6);
  font-weight: 300;
  margin-left: 0;
  width: 100%;
  position: absolute;
  left: 0;
  text-align: center;
  top: 50px;
}
.pinimg {
  background: #fff;
  padding: 15px;
  -webkit-box-shadow: 0px 1px 3px rgba(34, 25, 25, 0.4);
  -moz-box-shadow: 0px 1px 3px rgba(34, 25, 25, 0.4);
  box-shadow: 0px 1px 3px rgba(34, 25, 25, 0.4);
  float: left;
  margin-bottom: 15px;
  display: block;
  opacity: 0;
  width: 192px;
  -moz-transition: .5s opacity ease-out, .5s top ease-out;
  -webkit-transition: .5s opacity ease-out, .5s top ease-out;
  transition: .5s opacity ease-out, .5s top ease-out;
}
.pinimg.show {
  opacity: 1;
}
.col {
  margin: 15px 20px 0 0;
  width: 222px;
  float: left;
}
.col:last-child {
  margin-right: 0;
}
.menu {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  background: rgba(255, 255, 255, 0.9);
  -moz-transition-duration: .3s, .3s, .3s;
  -webkit-transition-duration: .3s, .3s, .3s;
  transition-duration: .3s, .3s, .3s;
  -moz-transition-property: -moz-transform, transform, -webkit-transform;
  -webkit-transition-property: -moz-transform, transform, -webkit-transform;
  transition-property: -moz-transform, transform, -webkit-transform;
  -webkit-transform: translate(0, 100%);
  -moz-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  -o-transform: translate(0, 100%);
  transform: translate(0, 100%);
}
#pins .menu {
  border-top: 2px solid #fff;
  -webkit-box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
}
#pins .menu.off {
  -webkit-box-shadow: 0 0;
  -moz-box-shadow: 0 0;
  box-shadow: 0 0;
  background-color: rgba(255, 255, 255, 0);
  border-top: 2px solid rgba(255, 255, 255, 0);
}
.menu h2 {
  height: 40px;
  margin: 0;
  padding: 0;
  line-height: 40px;
  text-align: center;
}
.menu button {
  width: -moz-calc(50% - 5px);
  width: -webkit-calc(50% - 5px);
  width: calc(50% - 5px);
  display: inline-block;
}
.menu button.yes {
  float: right;
}
.menu.show {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
#pins .scroller {
  top: 0;
  height: 100%;
  left: 0;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}
#pins .scroller h2 {
  text-align: center;
  font-weight: normal;
  color: #aaa;
  text-shadow: 0 1px #fff;
  margin-bottom: 80px;
}
#pins .container {
  margin: 0 auto;
}
#pins .container:after {
  content: '';
  display: block;
  clear: both;
}
.remaining {
  margin: 20px 40px 8px;
  font-size: 16px;
  color: #aaa;
  text-shadow: 0 1px #fff;
  text-align: center;
  display: none;
}
.remaining .remaining-num {
  color: #bc0c4e;
  font-weight: bold;
}
.remaining.show {
  display: block;
}
form input[type=text],
form input[type=password] {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -moz-transition: .25s border, .5s box-shadow;
  -webkit-transition: .25s border, .5s box-shadow;
  transition: .25s border, .5s box-shadow;
  background: #fff;
  border: 1px solid #666;
  color: #666;
  display: block;
  font: inherit;
  font-size: 18px;
  line-height: 20px;
  margin: 0;
  padding: 10px 10px;
}
form input[type=text]:focus,
form input[type=password]:focus {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06) inset, 0 0 8px rgba(80, 160, 220, 0.6);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06) inset, 0 0 8px rgba(80, 160, 220, 0.6);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06) inset, 0 0 8px rgba(80, 160, 220, 0.6);
  background: #fff;
  color: #333;
  outline: 0;
}
#login form button {
  display: none;
  margin-top: 15px;
}
#login input[type=text] {
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  border-bottom: 0 none !important;
}
#login input[type=password] {
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  border-top: 0;
  -webkit-box-shadow: 0 1px #eeeeee inset;
  -moz-box-shadow: 0 1px #eeeeee inset;
  box-shadow: 0 1px #eeeeee inset;
  -webkit-appearance: none;
}
.get-one {
  color: #d8a9ba;
  display: block;
  padding-top: 15px;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 0 #000;
}
.get-one b {
  border-bottom: 1px solid #fff;
  color: #fff;
}
.get-one:hover {
  color: #e8ccd6;
}
@-webkit-keyframes bgscroll {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 484px 0;
  }
}
@-moz-keyframes bgscroll {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 484px 0;
  }
}
@-ms-keyframes bgscroll {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 484px 0;
  }
}
@-o-keyframes bgscroll {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 484px 0;
  }
}
@keyframes bgscroll {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 484px 0;
  }
}
#factory {
  background: #ececec url(/static/img/factory-grain.png);
}
#factory .luv {
  background: url(/static/img/factory.png) 50% 50% no-repeat;
  background-size: cover;
  margin: 30px auto -250px -10px;
  height: 250px;
  width: 320px;
  position: relative;
}
#factory .luv .f1 {
  background-image: url(/static/img/f1.png);
  background-size: cover;
  height: 24px;
  position: absolute;
  top: 54px;
  width: 112px;
  -webkit-animation: 40s linear 0s normal none infinite bgscroll;
  -moz-animation: 40s linear 0s normal none infinite bgscroll;
  -ms-animation: 40s linear 0s normal none infinite bgscroll;
  animation: 40s linear 0s normal none infinite bgscroll;
}
#factory .luv .f2 {
  background-image: url(/static/img/f2.png);
  background-size: cover;
  height: 24px;
  position: absolute;
  right: 0;
  top: 58px;
  width: 109px;
  -webkit-animation: 40s linear 0s normal none infinite bgscroll;
  -moz-animation: 40s linear 0s normal none infinite bgscroll;
  -ms-animation: 40s linear 0s normal none infinite bgscroll;
  animation: 40s linear 0s normal none infinite bgscroll;
}
#factory h2,
#factory p {
  text-shadow: 0 1px 1px #fff;
  margin-top: 6px;
  margin-bottom: 6px;
}
#factory h2 {
  color: #333;
  font-size: 17px;
}
#factory p {
  color: #999;
  font-size: 13px;
  margin-bottom: 12px;
  padding: 0 15px;
}
#factory .potential {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 10px;
}
#factory,
#matches {
  color: #aaa;
  text-shadow: 0 2px 1px #fff;
}
#factory .screen,
#matches .screen {
  height: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  max-width: 300px;
  padding-top: 70px;
}
#matches .screen {
  padding-top: 43px;
  max-width: 100%;
}
#matches .matches {
  -webkit-box-shadow: 0 0 5px #999;
  -moz-box-shadow: 0 0 5px #999;
  box-shadow: 0 0 5px #999;
}
#matches .potential {
  padding: 10px;
}
#matches .match {
  font-size: 16px;
  color: #666;
}
#matches .match .user {
  margin-right: 15px;
}
#matches .match .icon {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.top {
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
  -webkit-box-shadow: 0 0 4px #555555, 0 1px 1px rgba(255, 255, 255, 0.2) inset, 0 -1px 0px rgba(255, 255, 255, 0.2) inset;
  -moz-box-shadow: 0 0 4px #555555, 0 1px 1px rgba(255, 255, 255, 0.2) inset, 0 -1px 0px rgba(255, 255, 255, 0.2) inset;
  box-shadow: 0 0 4px #555555, 0 1px 1px rgba(255, 255, 255, 0.2) inset, 0 -1px 0px rgba(255, 255, 255, 0.2) inset;
  background: #ae1d54 url(/static/img/grain.png);
  border-bottom: 1px solid #ae1d54;
  color: #fff;
  position: absolute;
  text-align: center;
  z-index: 2;
  width: 100%;
  margin-top: 0;
  height: 44px;
  padding: 12px;
  font-size: 18px;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
}
.back {
  position: absolute;
  top: 13px;
  left: 15px;
  z-index: 3;
}
.match {
  background: #fff;
  border-bottom: 1px solid #ccc;
  display: block;
  font-weight: 400;
  text-align: left;
  padding: 15px;
}
.match .icon,
.match .user {
  display: inline-block;
  vertical-align: middle;
}
.match .icon {
  background-size: cover;
  height: 64px;
  margin-right: 15px;
  width: 64px;
}
.match .user {
  line-height: 64px;
}
.match:first-child {
  background-color: #ffffcc;
  -webkit-box-shadow: 0 5px #333;
  -moz-box-shadow: 0 5px #333;
  box-shadow: 0 5px #333;
}
#chat-text {
  font-size: 18px;
  padding: 65px 15px 15px;
}
#chat-text em {
  color: #999;
  font-style: normal;
}
#chat-text div + div {
  margin-top: 2px;
}
#chat-form {
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -ms-border-radius: 0 0 10px 10px;
  -o-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.8)));
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8));
  padding: 15px;
}
#chat-form input {
  -webkit-box-shadow: 1px 1px 0 #333333 inset, 2px 2px 3px #000000 inset;
  -moz-box-shadow: 1px 1px 0 #333333 inset, 2px 2px 3px #000000 inset;
  box-shadow: 1px 1px 0 #333333 inset, 2px 2px 3px #000000 inset;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: #000;
  color: #fff;
  width: 100%;
}
#chat-form input:-moz-placeholder {
  color: #666;
}
#chat-form input::-webkit-input-placeholder {
  color: #666;
}
#chat-form button {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -ms-border-radius: 0 4px 4px 0;
  -o-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  -webkit-box-shadow: 1px 1px 0 #333333, 1px 1px 2px #000000;
  -moz-box-shadow: 1px 1px 0 #333333, 1px 1px 2px #000000;
  box-shadow: 1px 1px 0 #333333, 1px 1px 2px #000000;
  background: #555;
  border: 0;
  color: #333;
  font-size: 32px;
  text-shadow: 0 1px 1px #666;
  padding: 2px 10px 1px;
  float: right;
  top: 17px;
  right: 16px;
  position: absolute;
}
#chat-form button:active,
#chat-form button:focus {
  background: #333;
  color: #000;
}
input[placeholder]:-moz-placeholder:focus {
  color: transparent !important;
}
input[placeholder]:focus::-webkit-input-placeholder {
  color: transparent !important;
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), screen and (min-device-pixel-ratio: 2) {
  #login {
    background-size: 83px 83px;
  }
  #login:before {
    background-size: 20px 234px;
  }
  .pinimg {
    width: 112px;
    padding: 8px;
    margin-bottom: 10px;
  }
  .col {
    width: 112px;
    margin: 10px 20px 0 0;
  }
  section,
  .top {
    background-size: 100px 100px;
  }
  #factory {
    background-size: 26px 26px;
  }
}
