@import 'lib';

* {
    .border-box();
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

html, body {
    background: #000;
    font-size: 14px;
}

button.no {
    .button(#bf512e);
}

button.yes {
    .button(#93c52f);
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

body,
#app,
section {
    .border-radius(10px);
}

#app {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

section {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('/static/img/grain.png');
    background-color: #fff;

    &.left {
        .transform(~'translate(-100%, 0)');
    }
    &.right {
        .transform(~'translate(100%, 0)');
    }

    .transform(~'translate(0, 0)');
}

#app.ready section {
    .transition-duration(~'.3s, .3s, .3s');
    .transition-property(~'-moz-transform, transform, -webkit-transform');
}

#login {
    background: #bc0c4e url(/static/img/bg.png);
    &:before {
        .border-radius(10px 10px 0 0);
        background: url(/static/img/bg-top.png) repeat-x;
        content: "";
        display: block;
        height: 234px;
        position: absolute;
        top: 0;
        width: 100%;
    }
    form {
        width: 244px;
        margin: 50px auto 0;
        z-index: 2;
        input {
            width: 100%;
            padding: 8px 15px;
            font-size: 14px;
            &:first-child {
                border-bottom: 0;
                z-index: 1;
            }
        }
        button {
            .button(#019988);
            width: 100%;
        }
    }
    .menu {
        background: transparent;
        text-align: center;
        color: #fff;
        padding-bottom: 15px;
    }

    .screen {
        margin: 0 auto;
        position: relative;
        top: 120px;
    }
}

#logged a {
    margin-left: 1em;
}

.logo {
    background: url(/static/img/logo.png) 50% 50% no-repeat;
    background-size: cover;
    height: 57px;
    display: block;
    text-indent: -9999px;
    width: 263px;
    margin: 0 auto;
    position: relative;
}

.tagline {
    color: #fff;
    font-size: 13px;
    text-shadow: 1px 1px rgba(0,0,0,0.6);
    font-weight: 300;
    margin-left: 0;
    margin-top: 2px;
    text-align: center;
}

.pinimg {
    background: #fff;
    padding: 15px;
    .box-shadow(0px 1px 3px rgba(34, 25, 25, 0.4));
    float: left;
    margin-bottom: 15px;
    display: block;
    opacity: 0;
    width: 192px;
    .transition(~'.5s opacity ease-out, .5s top ease-out');

    &.show {
        opacity: 1;
    }

}

.col {
    margin: 15px 20px 0 0;
    width: 222px;
    float: left;
}

@media @retina {
    #login {
        background-size: 83px 83px;
        &:before {
            background-size: 20px 234px;
        }
    }
    .pinimg {
        width: 112px;
        padding: 8px;
        margin-bottom: 10px;
    }
    .col {
        width: 112px;
        margin: 10px 20px 0 0;
    }
}

.col:last-child {
    margin-right: 0;
}

.menu {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    background: fade(#fff, 90%);
    h2 {
        height: 40px;
        margin: 0;
        padding: 0;
        line-height: 40px;
        text-align: center;
    }
    button {
        width: ~'-moz-calc(50% - 5px)';
        width: ~'-webkit-calc(50% - 5px)';
        width: ~'calc(50% - 5px)';
        display: inline-block;
        &.yes {
            float: right;
        }
    }
    .transition-duration(~'.3s, .3s, .3s');
    .transition-property(~'-moz-transform, transform, -webkit-transform');
    .transform(~'translate(0, 100%)');

    &.show {
        .transform(~'translate(0, 0)');
    }
}

#pins {
    .scroller {
        top: 0;
        height: 100%;
        left: 0;
        width: 100%;
        -webkit-overflow-scrolling: touch;
        overflow: auto;
        h2 {
            display: none;
            text-align: center;
            color: #888888;
            font-size: 18px;
            font-weight: normal;
            margin-bottom: 120px;
            text-shadow: 1px 1px #FFFFFF;
            em {
                color: #333;
            }
        }
    }

    .container {
        margin: 0 auto;
        &:after {
            content: '';
            display: block;
            clear: both;
        }
    }
}

.remaining {
    display: none;
    &.show {
        display: block;
    }
}

form {
    input[type=text],
    input[type=password] {
        .border-radius(3px);
        //.box-shadow(1px 1px 0 #ccc inset, 2px 2px 3px #eee inset);
        .transition(~'.25s border, .5s box-shadow');
        background: #fff;
        border: 1px solid #666;
        color: #666;
        display: block;
        font: inherit;
        font-size: 18px;
        line-height: 20px;
        margin: 0;
        padding: 10px 10px;
        &:focus {
            .box-shadow(0 1px 1px rgba(0,0,0,.06) inset,
                        0 0 8px rgba(80,160,220,.6));
            background: #fff;
            //border-color: rgba(80,170,230,.8);
            color: #333;
            outline: 0;
            //outline: thin dotted \9;
        }
    }
}

#login {
    button {
        display: none;
        margin-top: 15px;
    }
    input[type=text] {
        .border-radius(5px 5px 0 0);
        border-bottom: 1px solid #ddd !important;
        //.box-shadow(0 2px 2px #aaa inset);
    }
    input[type=password] {
        .border-radius(0 0 5px 5px);
        border-top: 0;
    }
}

.get-one {
    color: #d8a9ba;
    display: block;
    padding-top: 15px;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 0 #000;
    b {
        border-bottom: 1px solid #fff;
        color: #fff;
    }
    &:hover {
        color: lighten(#d8a9ba, 10%);
    }
}

#factory {
    .luv {
        background: url(/static/img/factory.png) 50% 50% no-repeat;
        background-size: cover;
        margin: 0 auto;
        height: 250px;
        width: 320px;
    }
}
