@import 'lib';

body {
    font-family: Helvetica, Arial, sans-serif;
}

* {
    .border-box();
}

#app {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

section {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('/static/img/grain.png');
    background-color: #fff;

    .transition-duration(~'.3s, .3s, .3s');
    .transition-property(~'-moz-transform, transform, -webkit-transform');

    &.left {
        .transform(~'translate(-100%, 0)');
    }
    &.right {
        .transform(~'translate(100%, 0)');
    }
    .transform(~'translate(0, 0)');
}

#login {
    background-color: #bc0c4e;
    z-index: 1;
}

.pinimg {
    background: #fff;
    padding: 15px;
    .box-shadow(0px 1px 3px rgba(34, 25, 25, 0.4));
    float: left;
    margin-bottom: 15px;
    display: block;
    opacity: 0;
    width: 192px;
    .transition(~'.5s opacity ease-out, .5s top ease-out');

    &.show {
        opacity: 1;
    }

}

.col {
    margin: 15px 15px 0 0;
    width: 222px;
    float: left;
}

@media @retina {
    .pinimg {
        width: 96px;
        padding: 8px;
        margin-bottom: 10px;
    }
    .col {
        width: 112px;
        margin: 10px 10px 0 0;
    }
}

.col:last-child {
    margin-right: 0;
}

.menu {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    padding: 15px;
    background: fade(#fff, 90%);
    h2 {
        height: 40px;
        margin: 0;
        padding: 0;
        line-height: 40px;
        text-align: center;
    }
    button {
        display: block;
        border: 1px solid black;
        padding: 4px 8px;
        margin-top: 10px;
        width: ~'-moz-calc(50% - 5px)';
        display: inline-block;
        &.active {
            background: red;
        }
        &.no {
            float: right;
        }
    }
    .transition-duration(~'.3s, .3s, .3s');
    .transition-property(~'-moz-transform, transform, -webkit-transform');
    .transform(~'translate(0, 100%)');

    &.show {
        .transform(~'translate(0, 0)');
    }
}

#pins {
    .scroller {
        top: 0;
        height: 100%;
        left: 0;
        width: 100%;
        -webkit-overflow-scrolling: touch;
        overflow: auto;
    }

    .container {
        margin: 0 auto;
    }
}

form {
    visibility: hidden;
    &.show {
        visibility: visible;
    }
}

.remaining {
    display: none;
    &.show {
        display: block;
    }
}
