<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>pinterested</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.less.css') }}">

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
  </head>
  <body>
    <section id="login">
        <form action="/users/" method="post">
            <input type="text" name="user" required>
            <input type="password" name="pass" required>
            <button>Find my soulmate</button>
        </form>
    </section>

    <section id="lookingfor">
    </section>

    <section id="pins">
        <div class="who"></div>
        <div class="container"></div>
    </section>

    <section id="matches">
    </section>

    <section id="messages">
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="/static/js/underscore.js"></script>
    <script src="/static/js/login.js"></script>
    <script src="/static/js/pins.js"></script>
    <script src="/static/js/app.js"></script>
  </body>
</html>
