{% set CSS = [
    'normalize.css',
    'app.less',
] -%}
{% set JS = [
    '//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js',
    'underscore.js',
    'utils.js',
    'login.js',
    'pins.js',
    'app.js',
    'chat.js',
] -%}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>pinterested</title>
    {%- for stylesheet in CSS %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/' + stylesheet + ('.css' if stylesheet.endswith('.less') else '')) }}">
    {%- endfor %}
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
  </head>
  <body>
    <div id="app">
        <section id="login">
            <div class="screen">
                <h1 class="logo">pinterested</h1>
                <h2 class="tagline">Dating based on mutual (p)interests</h2>
                <form action="/users/" method="post">
                    <input type="text" name="user" placeholder="Pinterest Username" required>
                    <input type="password" name="pass" placeholder"Password" required>
                    <a href="https://pinterest.com/join/signup/" target="_blank" class="get-one">No Pinterest account? <b>Get one!</b></a>
                    <button>Find my soulmate</button>
                </form>
            </div>
            <div id="logged" class="menu"></div>
        </section>

        <section id="lookingfor">
          <h1>Looking For</h1>
        </section>

        <section id="pins">
            <div class="remanining">You have <span class="remaining-num"></span> pinteresting individual<span class="remaining-plural">s</span> to check out
            <div class="scroller">
                <div class="container"></div>
                <h2>So, what's the verdict?</h2>
            </div>
            <div class="menu">
                <button class="button no">Not feelin' it</button>
                <button class="button yes">I'm smitten</button>
                <a href="#" id="gotochat">chat</a>
            </div>
        </section>

        <section id="factory">
            <h1>Your Matches</h1>
            <h2>Turning interests into matches!</h2>
            <p>This could take a while. We&rsquo;ll let you know when we find something.</p>
            <p>Want more potential matches?</p>
            <div class="luv"></div>
            <button class="button">Rate more people</button>
        </section>

        <section id="matches">
            <h1>Your Matches</h1>
            <h2>Turning interests into matches!</h2>
            <p>This could take a while. We&rsquo;ll let you know when we find something.</p>
            <p>Want more potential matches?</p>
            <button class="button">Rate more people</button>
        </section>

        <section id="messages">
            <h1>Messages</h1>
        </section>

        <section id="chat">
            <h1>Chat</h1>
            <div id="chat-text"></div>
            <div id="chat-input"></div>
        </section>

    </div>

    <script type='text/javascript' src='https://static.firebase.com/v0/firebase.js'></script>
    {%- for script in JS %}
    <script type="text/javascript" src="{{ script if script.startswith(('//', 'http')) else url_for('static', filename='js/' + script) }}"></script>
    {%- endfor %}
  </body>
</html>
